.footer{
    background-color: rgb(37, 37, 37);
    color: rgb(197, 197, 197);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    padding: 4.5vmax;
}

.footer > div{
    display: flex;
    flex-direction: column;
    margin: 1vmax;
}

.footer > div:nth-child(2){
    display: block;
}

.footer > div:nth-child(2) > a{
    display: inline-block;
}

.footer > div > a{
    color: rgb(197, 197, 197);
    font-size: 1vmax;
    margin: 0.6vmax 0;
    text-decoration: none;
}

.footer > div > a:hover{
    color: white;
}

.footer >div:last-child > p{
    font-size: 0.8vmax;
    margin: 1vmax 0;
    width: 45%;
}

.footer >div:last-child > button{
    background-color: rgb(37, 37, 37);
    border: 1px solid white;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.98vmax;
    font-weight: 100;
    padding: 0.6vmax 0;
    transition: all 0.4s;
    width: 50%;
}

.footer >div:last-child > button:hover{
    background-color: white;
    color: black;
}

.footerBorder{
    background-color: rgb(37, 37, 37);
    color: white;
}

.footerBorder > p{
    border-top: 1px solid rgba(197, 197, 197, 0.185);
    color: rgb(197, 197, 197);
    font-size: 0.98vmax;
    margin: auto;
    padding: 2vmax;
    width: 90vmax;
}